

<html>

<head>

    <title> Add Staff </title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <center>
            <div class="login-box">
    
    <h1>
        Mark Attandence
    </h1>
    <br>
    {{#if err}}

    No classes available
    {{else}}
    <form action="/api/markattandence" method="post">
    <select name="course" >
   
   
        {{#each results}}
        <option value="{{this.id}}">{{this.c_id}} - {{this.name}} - S{{ this.semester }}{{ this.dept }}</option>
{{!--         
        <input type="radio" name="course" value="{{this.id}}">  <br> <br> --}}
        {{/each}}
             
    </select>
    <br><br><br>
        <input type="submit" value="Mark!">
    </form>

    {{/if}}

    <br><br><br>
  
    <form action="/api/logout" method="post">
         <input type="submit" value="Logout">
    </form>
    </div>


    </center>

    <p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>

</html>